version: "3.9"

services:
  redis:
    image: redis
    env_file:
      - .env
    ports:
      - "6379:6379"

  postgres:
    image: postgres
    env_file:
      - .env
    ports:
      - "5432:5432"

  api:
    build: .
    command: ["bun", "apps/rest/src/message/index.ts"]
    env_file:
      - .env
    ports:
      - "3000:3000"
    depends_on:
      - worker

  worker:
    build: .
    command: ["bun", "apps/rest/src/worker/index.ts"]
    env_file:
      - .env
    depends_on:
      - redis
      - postgres
